<section class="container container-decoration">
    <div class="row">
        <div class="col-md-12">
            <h1>Dekorasjon</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Rosene er røde, fiolene er blå. Druene er søte og du er likeså, sto det på kortet som fulgte med blomsterbuketten. Noen mennesker er mer oppmerksom på omgivelsene enn andre. De gir en bukett med oppmerksomhet. De vakre blomstene finner de hos Botanica.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Donec elementum orci dui, eu euismod sem pellentesque sit amet. Nunc tempus consequat urna, vel
                consectetur odio mattis id. Nam nisi sem, tincidunt id risus et, auctor lacinia nulla. In hac habitasse
                platea dictumst.
            </p>
        </div>
    </div>
</section>