<section class="container container-grief">
    <div class="row">
        <div class="col-md-12">
            <h1>Sorgbinderi</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
For å garantere levering til begravelse må bestillingen være oss i hende innen kl. 12.00 dagen før begravelsen.

Hilsenene kan skrives på bånd, sløyfer eller kort.
Bånd bestilles i tillegg til sorgproduktene. (nederst i bestillingsskjemaet).
Kranser og andre dekorasjoner pyntes normalt sett med bånd, mens bårebuketter kan sendes både med bånd og/eller kort, alt etter kundens ønske. Når produktene leveres med bånd, vil blomsterbutikken alltid sende med et kort med samme tekst som på båndet. Representanten fra begravelsesbyrået tar alle kortene av hilsenene før seremonien starter, og legger dem på plassen til de etterlatte.

Skikkene varierer i forskjellige deler av landet, men det vanligste er at hilsener med bånd eller sløyfe leses opp i kirken, mens hilsener som bare har kort ikke blir lest opp. Husk at en hilsen som skal trykkes på et bånd, ikke kan være for lang.

Alle våre priser er oppgitt inkl. mva. I tillegg til blomsterprisene kommer frakt og omkostninger med kr 125,-. 
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Donec elementum orci dui, eu euismod sem pellentesque sit amet. Nunc tempus consequat urna, vel
                consectetur odio mattis id. Nam nisi sem, tincidunt id risus et, auctor lacinia nulla. In hac habitasse
                platea dictumst.
            </p>
        </div>
    </div>
</section>