<section class="container container-webshop">
    <div class="row">
        <div class="col-md-12">
            <h1>Bestill Blomster</h1>
        </div>

<!-- $('#target-div').load('http://www.mywebsite.com/portfolio.php #portfolio-sports'); -->
        <div class="webshop">
<div style="border: 2px solid #D5CC5A; overflow: hidden; margin: 15px auto; max-width: 575px;">
<iframe scrolling="no" src="http://www.botanica.no/bestill-blomster-her.227314.no.html" style="border: 0px none; margin-left: -36px; height: 812px; margin-top: -486px; width: 650px;">
</iframe>
</div>
    </div>
</section>