<section class="container container-wedding">
    <div class="row">
        <div class="col-md-12">
            <h1>Brudebuketter</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
Her viser vi noen eksempler på brudebuketter. Bildene er til for å være en inspirasjonskilde for deg som planlegger den store dagen.
Klikk på bildet for større versjon.
Velkommen innom for en inspirerende og veiledende prat for hvordan din store dag best kan se ut i blomsterverden. Noen stikkord som er viktig, er hva dine ønsker er og hva du drømmer om, hvilken sesong er vi i og hvilken blomster følger den. Ta gjerne med inspirasjonsbilder, stoffprøver og bilde av kjolen. Vi har alltid tid og lyst til å hjelpe deg med dine valg. Våre 8 dekoratører står klar fra kl. 09.00 om morgenen til kl. 21.00 om kvelden for en blomstrende prat.
For mer inspirasjon kan du besøke oss på Facebook siden vår, hvor vi har flere bilder å vise deg.
Velkommen!
            </p>
        </div>
    </div>
</section>